* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #e9ecef;
  color: #212529;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

@media (max-width: 767px) {
  body {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    padding-bottom: 15px;
  }
}
.templates {
  display: none;
}

@media (max-width: 767px) {
  .players {
    border-right: none;
    max-width: none !important;
  }
}
.players {
  border-right: #ced4da 1px solid;
  flex: 1;
  height: 100%;
  max-width: 250px;
  overflow: auto;
}

.players h2 {
  font-size: 1.5rem;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
}

.players .player {
  --height: 42px;
  align-items: center;
  animation: slideDown 0.2s ease;
  display: flex;
  height: var(--height);
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  transition: 0.2s ease;
}
.players .player.disconnected .color, .players .player.disconnected .name, .players .player.disconnected .points {
  opacity: 0.2;
}
.players .player.press {
  animation: player 5s ease;
  background-color: #adb5bd;
}
.players .player:hover .options, .players .player:focus-within .options {
  opacity: 1;
}

.players .player .color {
  background: var(--color);
  border-radius: 50%;
  border: white 2px solid;
  box-shadow: #555 0 0 0px 1px;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.players .player .name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.players .player .points {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
}

.players .player .options {
  align-items: center;
  background-color: rgba(70, 70, 70, 0.9);
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: 0.2s ease;
  width: 100%;
}
.players .player .options .option {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 36px;
  justify-content: center;
  margin-left: 5px;
  outline: none;
  transition: 0.2s ease;
  width: 36px;
}
.players .player .options .option:hover,
.players .player .options .option:focus {
  background-color: rgba(255, 255, 255, 0.3);
}
.players .player .options .option:active {
  transform: scale(0.8);
}

@media (max-width: 767px) {
  main {
    order: -1;
    width: 100%;
  }
}
@media (max-width: 590px) {
  main .room-details .content {
    flex-direction: column;
  }

  main .room-details .content .qr-code {
    margin-top: 20px;
    order: -1;
  }
}
@media (max-width: 425px) {
  main .room-details .content .room-code {
    font-size: 1.8rem !important;
  }

  main .room-details .content .room-code .url-box {
    margin: 20px 0 !important;
  }
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: auto;
  max-width: 800px;
  overflow: auto;
  text-align: center;
}

main .last-press {
  background-color: white;
  border-radius: 20px;
  margin: 15px;
  padding: 30px;
}
main .last-press .button {
  --shadow: #555 0 0 0 .5vmin, inset #555 0 0 0 .3vmin;
  background-color: var(--button-color);
  border-radius: 50%;
  border: white 2vmin solid;
  box-shadow: var(--shadow);
  height: 30vmin;
  margin: auto;
  width: 30vmin;
}
main .last-press .button.animated {
  animation: scale 0.5s ease, pulse 5s ease;
}
main .last-press .name {
  font-size: 2rem;
  margin-top: 20px;
}
main .last-press .recent-colors {
  align-items: center;
  display: flex;
  gap: 25px;
  height: 20px;
  justify-content: center;
  margin-top: 30px;
}
main .last-press .recent-colors .color {
  background-color: var(--color);
  border-radius: 50%;
  border: white 2px solid;
  box-shadow: #555 0 0 0px 1px;
  height: 20px;
  width: 20px;
}

main .room-details {
  background-color: white;
  border-radius: 20px;
  margin: 15px;
  padding: 30px;
}

main .room-details h2 {
  font-size: 1.5rem;
  margin: 0;
}

main .room-details .content {
  align-items: center;
  display: flex;
}

main .room-details .content .room-code {
  flex: 1;
  font-size: 3rem;
  margin-top: 20px;
  width: 100%;
}
main .room-details .content .room-code .code {
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
}
main .room-details .content .room-code .copy-code {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  margin-left: 20px;
  outline: none;
  transition: 0.2s ease;
  width: 1.4em;
}
main .room-details .content .room-code .copy-code:hover, main .room-details .content .room-code .copy-code:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
main .room-details .content .room-code .copy-code:active {
  transform: scale(0.8);
}
main .room-details .content .room-code .url-box {
  align-items: center;
  border-radius: 1000px;
  border: #00b4d8 2px solid;
  color: #0077b6;
  display: flex;
  font-size: 1rem;
  margin: 20px 30px;
  padding: 5px 10px;
}
main .room-details .content .room-code .url-box .url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .room-details .content .room-code .url-box .copy-url {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 1.4em;
  margin-left: auto;
  margin-right: -5px;
  outline: none;
  transition: 0.2s ease;
  width: 1.4em;
}
main .room-details .content .room-code .url-box .copy-url:hover, main .room-details .content .room-code .url-box .copy-url:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
main .room-details .content .room-code .url-box .copy-url:active {
  transform: scale(0.8);
}

main .room-details .content .qr-code {
  background: white;
  border-radius: 10px;
  border: #555 1px solid;
  padding: 8px;
  width: 120px;
}
main .room-details .content .qr-code img {
  width: 100%;
}

main .room-details .close-room {
  background: none;
  border-radius: 5px;
  border: #dc2f02 2px solid;
  color: #dc2f02;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
  padding: 10px 15px;
  transition: 0.2s ease;
}
main .room-details .close-room:hover, main .room-details .close-room:focus {
  background-color: #dc2f02;
  color: white;
}
main .room-details .close-room:active {
  transform: scale(0.8);
}
main .room-details .close-room .mdi {
  margin-right: 10px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--height);
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes player {
  from, 10% {
    left: 0;
    transform: scale(1);
  }
  5% {
    background-color: #adb5bd;
    left: 20px;
    transform: scale(1.2);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    background-color: transparent;
  }
  from, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, to {
    background-color: #adb5bd;
  }
}
@keyframes pulse {
  0%, 20%, 40%, 60%, 80% {
    box-shadow: var(--shadow), 0 0 0 0 var(--shadow-color);
  }
  15%, 35%, 55%, 75%, 95% {
    box-shadow: var(--shadow), 0 0 0 150px transparent;
  }
  19%, 39%, 59%, 79%, 100% {
    box-shadow: var(--shadow), 0 0 0 0 transparent;
  }
}
