* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

main {
  --color-primary: #555;
  --color-secondary: #aaa;
  --color-side: #666;
  align-items: center;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

main:not(.connected) {
  --color-primary: #555 !important;
  --color-secondary: #aaa !important;
  --color-side: #666 !important;
  pointer-events: none;
}

main .button {
  background-color: var(--color-primary);
  border-bottom: rgba(255, 255, 255, 0.5) 3px solid;
  border-radius: 50%;
  box-shadow: var(--color-side) 0 8px, #000000 0 8px 10px;
  cursor: pointer;
  height: 200px;
  max-height: 70vmin;
  max-width: 70vmin;
  transition: 0.2s ease;
  width: 200px;
}
main .button:active {
  border-bottom: transparent 3px solid;
  box-shadow: var(--color-side) 0 0, #000000 0 0 3px;
  transform: translateY(8px);
}

main.hit {
  animation: hit 0.3s steps(1) infinite;
  pointer-events: none;
}
main.hit .button {
  animation: hitBtn 0.3s steps(1) infinite;
}

@keyframes hit {
  from {
    background-color: var(--color-secondary);
  }
  50% {
    background-color: var(--color-primary);
  }
  to {
    background-color: var(--color-secondary);
  }
}
@keyframes hitBtn {
  from {
    background-color: var(--color-primary);
  }
  50% {
    background-color: var(--color-secondary);
  }
  to {
    background-color: var(--color-primary);
  }
}
