* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

main {
  --color-primary: #555;
  --color-secondary: #aaa;
  --color-side: #666;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-secondary);
}

main:not(.connected) {
  --color-primary: #555 !important;
  --color-secondary: #aaa !important;
  --color-side: #666 !important;
  pointer-events: none;
}

main .button {
  background-color: var(--color-primary);
  box-shadow: var(--color-side) 0 8px, #000000 0 8px 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-bottom: rgba(255, 255, 255, 0.5) 3px solid;
  transition: 0.2s ease;
  cursor: pointer;
}
main .button:active {
  box-shadow: var(--color-side) 0 0, #000000 0 0 3px;
  transform: translateY(8px);
  border-bottom: transparent 3px solid;
}

main.hit {
  animation: hit 0.3s steps(1) infinite;
  pointer-events: none;
}
main.hit .button {
  animation: hitBtn 0.3s steps(1) infinite;
}

@keyframes hit {
  from {
    background-color: var(--color-secondary);
  }
  50% {
    background-color: var(--color-primary);
  }
  to {
    background-color: var(--color-secondary);
  }
}
@keyframes hitBtn {
  from {
    background-color: var(--color-primary);
  }
  50% {
    background-color: var(--color-secondary);
  }
  to {
    background-color: var(--color-primary);
  }
}
