* {
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	display: flex;
	flex-wrap: wrap;
	font-family: Roboto, Arial, sans-serif;
	height: 100vh;
	margin: 0;
	color: #212529;
	background-color: #e9ecef;
}

.players {
	border-right: #ced4da 1px solid;
	max-width: 250px;
	flex: 1;
	overflow: auto;
	height: 100%;

	h2 {
		font-size: 1.1rem;
		margin: 5px 0;
		padding: 10px 15px;
		text-align: center;
	}

	.player {
		--height: 42px;
		align-items: center;
		animation: slideDown .2s ease;
		display: flex;
		height: var(--height);
		overflow: hidden;
		padding: 0 10px;
		position: relative;
		transition: .2s ease;

		&.disconnected .color,
		&.disconnected .name,
		&.disconnected .points {
			opacity: 0.2;
		}

		&.press {
			background-color: #adb5bd;
			animation: player 5s ease;
		}

		&:hover .options {
			opacity: 1;
		}

		.color {
			background: var(--color);
			border-radius: 50%;
			border: white 2px solid;
			box-shadow: #555 0 0 0px 1px;
			height: 20px;
			margin-right: 10px;
			width: 20px;
		}

		.name {
			flex: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.points {
			font-size: 1.2em;
			font-weight: bold;
			margin-left: 10px;
		}

		.options {
			align-items: center;
			background-color: rgba(70, 70, 70, 0.9);
			display: flex;
			height: 100%;
			justify-content: center;
			opacity: 0;
			position: absolute;
			right: 0;
			transition: .2s ease;
			width: 100%;

			.option {
				align-items: center;
				background-color: transparent;
				border-radius: 50%;
				border: none;
				color: #fff;
				cursor: pointer;
				display: flex;
				font-size: 1.5rem;
				height: 36px;
				justify-content: center;
				margin-left: 5px;
				outline: none;
				transition: .2s ease;
				width: 36px;
			}

			.option:hover {
				background-color: rgba(255, 255, 255, 0.3);
			}

			.option:active {
				transform: scale(0.8);
			}
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 1;
	max-width: 800px;
	height: 100%;
	overflow: auto;
	margin: auto;

	.last-press {
		background-color: white;
		padding: 30px;
		margin: 15px;
		border-radius: 20px;

		.button {
			--shadow: #555 0 0 0 .5vmin, inset #555 0 0 0 .3vmin;
			background-color: var(--button-color);
			border-radius: 50%;
			border: white 2vmin solid;
			box-shadow: var(--shadow);
			height: 30vmin;
			margin: auto;
			width: 30vmin;
			
			&.animated {
				animation: scale .5s ease, pulse 5s ease;
			}
		}

		.name {
			font-size: 2rem;
			margin-top: 20px;
		}

		.recent-colors {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 30px;
			gap: 25px;
			height: 20px;

			.color {
				background-color: var(--color);
				border-radius: 50%;
				border: white 2px solid;
				box-shadow: #555 0 0 0px 1px;
				height: 20px;
				width: 20px;
			}
		}
	}

	.room-details {
		background-color: white;
		padding: 30px;
		margin: 15px;
		border-radius: 20px;

		h2 {
			margin: 0;
		}

		.room-code {
			margin-top: 20px;
			font-size: 3rem;

			.code {
				letter-spacing: 10px;
				font-weight: bold;
				text-transform: uppercase;
			}

			.copy-code {
				margin-left: 20px;
				cursor: pointer;
			}

			.url-box {
				font-size: 1rem;
				display: flex;
				border: #00b4d8 2px solid;
				color: #0077b6;
				border-radius: 1000px;
				padding: 5px 10px;
				margin: 20px 30px;

				.url {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}

				.copy-url {
					margin-left: auto;
					padding-left: 10px;
					cursor: pointer;
				}
			}
		}
	}
}

@keyframes slideDown {
	from {
		height: 0;
	}

	to {
		height: var(--height);
	}
}

@keyframes slideUp {
	from {
		height: var(--height);
	}

	to {
		height: 0;
	}
}

@keyframes scale {
	from {
		transform: scale(0);
	}

	50% {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}

@keyframes player {

	from,
	10% {
		left: 0;
		transform: scale(1);
	}

	5% {
		transform: scale(1.2);
		background-color: #adb5bd;
		left: 20px;
	}

	5%,
	15%,
	25%,
	35%,
	45%,
	55%,
	65%,
	75%,
	85%,
	95% {
		background-color: transparent;
	}

	from,
	10%,
	20%,
	30%,
	40%,
	50%,
	60%,
	70%,
	80%,
	90%,
	to {
		background-color: #adb5bd;
	}
}

@keyframes pulse {

	0%,
	20%,
	40%,
	60%,
	80% {
		box-shadow: var(--shadow), 0 0 0 0 var(--shadow-color);
	}

	15%,
	35%,
	55%,
	75%,
	95% {
		box-shadow: var(--shadow), 0 0 0 150px transparent;
	}

	19%,
	39%,
	59%,
	79%,
	100% {
		box-shadow: var(--shadow), 0 0 0 0 transparent;
	}
}